@import url(reset.css);

#secao_1 {

    background: linear-gradient(90deg, rgba(46,1,112,1) 0%, rgba(74,1,99,1) 100%);
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    font-size: 1.7rem;
    color: var(--color-font-primary);
}